.messages {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 20px;
	margin: 10px;
	background: grey;
	height: 150px;
	width: 300px;
	opacity: .25;
	transition: .5s ease;
	overflow: hidden;
}

.messages .info {
	height: 100px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.messages:hover {
	opacity: 1;
}

.messages .row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;

}