@if (brew && { 'value': loggedIn$ | async}; as loggedIn) {
<h2>Składniki warki #{{ brew.number }}</h2>
@if (brew.ingredients.length) {
<div>Ilość składników: {{ brew.ingredients.length }}</div>
<ul class="ingredients">
  @for (ingredient of brew.ingredients; track ingredient){
  <li class="row">
    <label class="col-sm-6"
      >nazwa:
      <input
        [(ngModel)]="ingredient.name"
        placeholder="nazwa"
        [attr.disabled]="!loggedIn.value"
      />
    </label>
    <label class="col-sm-2"
      >ilość:
      <input
        [(ngModel)]="ingredient.quantity"
        placeholder="ilość"
        [attr.disabled]="!loggedIn.value"
      />
    </label>
    <label class="col-sm-2"
      >jedn:
      <input
        [(ngModel)]="ingredient.unit"
        placeholder="jedn."
        [attr.disabled]="!loggedIn.value"
      />
    </label>
    @if (loggedIn.value) {
    <button
      class="delete"
      title="delete ingredient"
      (click)="delete(ingredient)"
    >
      X
    </button>
    }
  </li>
  } @if (loggedIn.value && brew.ingredients.length != 0) {
  <button class="save" (click)="save()">
    <i class="fas fa-save"></i>
  </button>
  }
</ul>
} @else {
<h3>No ingredients info</h3>
} @if (loggedIn.value) {
<div class="add-ingredient">
  <li class="row">
    <label class="col-sm-6"
      >nazwa:
      <input #ingredientName placeholder="nazwa" />
    </label>
    <label class="col-sm-3"
      >ilość:
      <input #ingredientQuantity placeholder="ilość" />
    </label>
    <label class="col-sm-2"
      >jedn:
      <input #ingredientUnit placeholder="jedn." />
    </label>
    <button
      class="add"
      (click)="
        add(
          ingredientName.value,
          ingredientQuantity.value,
          ingredientUnit.value,
          brew.id
        );
        ingredientName.value = '';
        ingredientQuantity.value = '';
        ingredientUnit.value = ''
      "
    >
      +
    </button>
  </li>

  <!--<label>Nowy składnik:
			<input #ingredientName />
		</label>-->
  <!-- (click) passes input value to add() and then clears the input -->
  <!--<button class="add" (click)="add(ingredientName.value, brew.id); ingredientName.value=''">+</button>-->
</div>
} }
