<div class="upper">
  <header class="banner">
    <h1>{{ title }}</h1>
  </header>
  <nav>
    <a routerLink="/dashboard">Główna</a>
    <a routerLink="/brews">Lista</a>
    @if (loggedIn) {
    <a routerLink="/" (click)="logout()">Wyloguj</a>
    } @else {
    <a routerLink="/login">Zaloguj</a>
    }
  </nav>
</div>
<router-outlet></router-outlet>
<!--<app-messages class="d-none d-md-block"></app-messages>-->
<footer class="banner">
  <h6>Brew journal written in Angular &copy; Paweł Wnuk 2024</h6>
</footer>
