.brew img {
	max-width: 100%; 
	object-fit: contain;
	object-position: center;
	border-radius: 5px;
}

a {
	display: block;
}

.last-brews {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

.center {
	margin: 0 auto;
	text-align: center;
}