/* You can add global styles to this file, and also import other style files */
body {
	font-family: 'Oswald', sans-serif;
	background-color: #333;
	color: white;
}

app-root {
	max-height: 100vh;
	min-height: 100vh;
	max-width: 1200px; 
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	flex-flow: column;
	flex-wrap: nowrap;
	justify-content: space-between;
}

a {
	text-decoration: none;
	color: #920918;
}

a:hover, a:visited {
	text-decoration: none;
}

a:hover {
	color: white;
}

a:visited {

}

.banner {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

nav {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	line-height: 50px;
}

nav a {
	padding: 10px 20px;
}


.row.brews {
	margin-top: 2rem;
}

button {
	background: grey;
	color: white;
	border: 1px solid black;
	border-radius: 5px 5px 5px 5px;
	padding: 5px 10px;
	margin: 5px;
	font-size: 1rem;
	line-height: 24px;
	transition: .2s ease;

}

button:hover {
	cursor: pointer;
	color: #920918;
}

label input {
	background: lightgrey;
	color: #920918;
	border-radius: 5px;
	border: none;
}