ul.brews{
	list-style: none;
	padding: 0;
}

ul.brews li, .add-brew li{
	margin-bottom: .5rem;
	background: lightgrey;
	border-radius: 5px 5px 5px 5px;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	transition: .5s ease;
}

ul.brews li.selected .badge {
	color: #920918;
}

ul.brews .brew, .add-brew .brew {
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

ul.brews .brew:hover .info {
	cursor: pointer;
	color: inherit;
}

ul.brews .brew:hover {
	cursor: pointer;
}


ul.brews .badge, .add-brew .badge {
	background: grey;
	border-radius: 5px 0px 0px 5px;
	padding: 5px 10px;
	font-size: 2.2rem;
	height: 100%;
	line-height: 43px;
	transition: .5s ease;
}

ul.brews .brew .info, .add-brew .brew .info {
	padding-left: 0.5rem;
	color: #920918;
	transition: .2s ease;
}

ul.brews .brew .name, .add-brew .brew .name {
	font-size: 1.4rem;
}

ul.brews .brew .details, .add-brew .brew .details {
	font-size: 0.8rem;
}

ul.brews button.delete, .add-brew button.add {
	background: grey;
	border-radius: 0px 5px 5px 0;
	padding: 5px 10px;
	border:none;
	font-size: 2.2rem;
	line-height: 43px;
}

button.add {
	font-size: 2.2rem;
	line-height: 43px;
}

button {
	margin: 0;
}

.inputs{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

input {
	width: 100%;
}

.brew-details {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.brew-details input {
	width: 65%;
	margin-left: 0.5rem;
	padding-left: 5px;
	border-radius: 0px 5px 5px 0;
	background-color: lightgrey;
	height: 100%;
	text-align: left;
}

.brew-details label:focus, .brew-details label:active, .brew-details label:focus-within {
	color: #920918;
	text-decoration: underline;
}

.brew-details label {
	width: 100%;
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
	align-items: center;
	background-color: grey;
	border-radius: 5px;
	height: 53px;
	transition: .5s ease;
}

.add-brew li {
	height: 53px;
}

.add-brew li label.name {
	margin-bottom: 0;
}

.brew-details-placeholder {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.add-brew {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.add-brew label {
	margin-bottom: 20px;
}

img {
	height: 100%;
}

ul.brews {
	/*max-height: calc(100vh - 400px);
	overflow-y: scroll;
	overflow-x: hidden;*/
}